<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register_Servlet</servlet-name>
        <servlet-class>com.techblog.servlets.Register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>com.techblog.servlets.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>com.techblog.servlets.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile_Servlet</servlet-name>
        <servlet-class>com.techblog.servlets.EditProfile_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_Servlet</servlet-name>
        <servlet-class>com.techblog.servlets.Post_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register_Servlet</servlet-name>
        <url-pattern>/Register_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/Logout_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile_Servlet</servlet-name>
        <url-pattern>/EditProfile_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_Servlet</servlet-name>
        <url-pattern>/Post_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
